$ORIGIN lab.management.
@       3600    SOA   srv.lab.management. info@ilab.network (
                              2018082101                 ; serial number
                              3600                       ; refresh period
                              600                        ; retry period
                              604800                     ; expire time
                              600                      ) ; minimum ttl
;
              900       NS    ns.lab.management.
ns      IN      A       192.168.1.1
;
node101       IN      A       192.168.1.101       ; delete this line
node102       IN      A       192.168.1.102       ; delete this line
node103       IN      A       192.168.1.103       ; delete this line
node104       IN      A       192.168.1.104       ; delete this line
node105       IN      A       192.168.1.105       ; delete this line
node106       IN      A       192.168.1.106       ; delete this line
node107       IN      A       192.168.1.107       ; delete this line
node108       IN      A       192.168.1.108       ; delete this line
node109       IN      A       192.168.1.109       ; delete this line
node110       IN      A       192.168.1.110       ; delete this line
node111       IN      A       192.168.1.111       ; delete this line
node112       IN      A       192.168.1.112       ; delete this line
node113       IN      A       192.168.1.113       ; delete this line
node114       IN      A       192.168.1.114       ; delete this line
node115       IN      A       192.168.1.115       ; delete this line
